@font-face {
  font-family: "Graphik";
  src: url("../font/GraphicFont/Graphik-Semibold.eot");
  src: url("../font/GraphicFont/Graphik-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../font/GraphicFont/Graphik-Semibold.woff2") format("woff2"),
    url("../font/GraphicFont/Graphik-Semibold.woff") format("woff"),
    url("../font/GraphicFont/Graphik-Semibold.ttf") format("truetype"),
    url("../font/GraphicFont/Graphik-Semibold.svg#Graphik-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/GraphicFont/Graphik-Light.eot");
  src: url("../font/GraphicFont/Graphik-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../font/GraphicFont/Graphik-Light.woff2") format("woff2"),
    url("../font/GraphicFont/Graphik-Light.woff") format("woff"),
    url("../font/GraphicFont/Graphik-Light.ttf") format("truetype"),
    url("../font/GraphicFont/Graphik-Light.svg#Graphik-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/GraphicFont/Graphik-Regular.eot");
  src: url("../font/GraphicFont/Graphik-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../font/GraphicFont/Graphik-Regular.woff2") format("woff2"),
    url("../font/GraphicFont/Graphik-Regular.woff") format("woff"),
    url("../font/GraphicFont/Graphik-Regular.ttf") format("truetype"),
    url("../font/GraphicFont/Graphik-Regular.svg#Graphik-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/GraphicFont/Graphik-Medium.eot");
  src: url("../font/GraphicFont/Graphik-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../font/GraphicFont/Graphik-Medium.woff2") format("woff2"),
    url("../font/GraphicFont/Graphik-Medium.woff") format("woff"),
    url("../font/GraphicFont/Graphik-Medium.ttf") format("truetype"),
    url("../font/GraphicFont/Graphik-Medium.svg#Graphik-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/GraphicFont/Graphik-Bold.eot");
  src: url("../font/GraphicFont/Graphik-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../font/GraphicFont/Graphik-Bold.woff2") format("woff2"),
    url("../font/GraphicFont/Graphik-Bold.woff") format("woff"),
    url("../font/GraphicFont/Graphik-Bold.ttf") format("truetype"),
    url("../font/GraphicFont/Graphik-Bold.svg#Graphik-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../font/GraphicFont/Graphik-Black.eot");
  src: url("../font/GraphicFont/Graphik-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../font/GraphicFont/Graphik-Black.woff2") format("woff2"),
    url("../font/GraphicFont/Graphik-Black.woff") format("woff"),
    url("../font/GraphicFont/Graphik-Black.ttf") format("truetype"),
    url("../font/GraphicFont/Graphik-Black.svg#Graphik-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Graphik";
}
body {
  background-color: #edf2ff;
}
.container {
  max-width: 1320px;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none !important;
}
ul {
  padding-left: 0;
  margin: 0;
}
/* header style start  */
header {
  background: #4065d3;
  padding: 12px 15px;
}
header .nav-link {
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
header .dropdown-menu.show {
  border-radius: 12px;
  border: 0.5px solid var(--Transparent-Black-1, rgba(0, 0, 0, 0.1));
  background: var(--White, #fff);
  box-shadow: 0 25px 37px 0 rgba(0, 0, 0, 0.1),
    0 10px 15px 0 rgba(0, 0, 0, 0.05);
  padding: 8px 12px 8px 8px;
}
header .dropdown-menu {
  min-width: auto;
}
header .dropdown-item:hover {
  background: #e2eaff;
  color: var(--Darker-accessible-blue, #4065d3);
}
header .dropdown-item {
  border-radius: 8px;
  padding: 10px 12px;
  color: var(--gray-700, #374151);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.14px;
  display: flex;
}
header .dropdown-item > img {
  padding-right: 8px;
}
header .navbar-nav {
  gap: 28px;
  align-items: end;
}
header .navbar-brand {
  margin-right: 23px;
}
header .nav-link {
  padding: 9px 11px !important;
  border-radius: 100px;
  color: var(--White, #fefefe) !important;
}
header .nav-link.dropdown-toggle:hover {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.12);
}
header .login_btn.btn {
  color: var(--White, #fefefe);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 11px 18px;
  box-shadow: none !important;
}
header .signup_btn.btn {
  border-radius: 77px;
  background: #ef6604;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  padding: 11px 18px;
  margin-left: 24px;
  box-shadow: none !important;
}
/* header style end  */

/* banner style start  */
.home_banner {
  padding: 161px 15px 38px;
  position: relative;
}
.home_banner .bg_img {
  background: url(../images/home_banner_bg.png) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border-radius: 0 0 20px 20px;
}

.home_banner .banner_content {
  width: 662px;
  margin: auto;
}
.home_banner .banner_content h1 {
  color: var(--White, #fefefe);
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 24px;
}
.home_banner .banner_content h3 {
  color: var(--White, #fefefe);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 70px;
}

.home_banner .plans_box {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 8px 30px 0 rgba(64, 101, 211, 0.05);
  padding: 15px 18px 17px;
}
.home_banner .plans_box h3 {
  color: var(--Darker-accesible-blue, #4065d3);
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin: 15px 0px 24px;
}
.home_banner .plans_box p {
  color: var(--Black-100, #141414);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.home_banner .plans_box .explore_plans {
  border-radius: 8px;
  background: var(--Darker-accesible-blue, #4065d3);
  width: 100%;
  color: var(--White, #fefefe);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  padding: 16px 12px;
  box-shadow: none !important;
}
/* banner style end  */

/* discover benefits style start  */
.discover_benefits {
  padding: 80px 15px;
  border-bottom: 1px solid #b9c8f2;
}
.discover_benefits .benefits_img img {
  border-radius: 18.041px;
}
.discover_benefits .discover_benefits_content h2 {
  color: var(--Black-100, #141414);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
}
.discover_benefits .discover_benefits_content p {
  color: var(--Black-100, #141414);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
}

.discover_benefits .discover_benefits_list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.discover_benefits .list_icon {
  padding-right: 17px;
}
.discover_benefits .list_content h4 {
  color: var(--Darker-accesible-blue, #4065d3);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}
.discover_benefits .list_content p {
  color: var(--Black, #140505);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
.discover_benefits a.explore_plans.btn {
  border-radius: 8px;
  background: var(--Darker-accesible-blue, #4065d3);
  color: var(--White, #fefefe);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  padding: 15px 18px;
  box-shadow: none !important;
  margin-top: 6px;
}
/* discover benefits style End  */

/* how its work style Start  */
.how_its_work {
  padding: 80px 15px;
  border-bottom: 1px solid #b9c8f2;
  position: relative;
  background-image: url(../images/bg_border.png);
  background-size: cover;
  background-position: top center;
  margin-top: -300px;
}
.background {
  position: sticky;
  top: 80%;
  left: 0;
  width: 100%;
  height: 300px;
  background: #edf2ff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}
.how_its_work .how_its_work_content,
.work_col_height {
  z-index: 2;
  position: relative;
}
.how_its_work .how_its_work_content h2 {
  color: var(--Black-100, #141414);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}
.how_its_work .how_its_work_content p {
  color: var(--Black-100, #141414);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 69px;
}
.how_its_work .work_box.text-center {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 8px 30px 0 rgba(64, 101, 211, 0.05);
  padding: 24px;
}
.how_its_work .work_col_height {
  height: 748px;
  display: grid;
}
.how_its_work .work_box h3 {
  color: var(--Darker-accesible-blue, #4065d3);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin: 24px 0px;
}

.how_its_work .work_box p {
  color: var(--Black-100, #141414);
  font-weight: 400;
  line-height: 1.2;
  margin: 0px;
}
/* how its work style end  */

/* Testimonial style start  */
.testimonial_section {
  padding: 80px 0px;
  border-bottom: 1px solid #b9c8f2;
}
.testimonial_section .testimonial_section_content h2 {
  color: var(--Black-100, #141414);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}
.testimonial_section .testimonial_section_content p {
  color: var(--Black-100, #141414);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 36px;
}
.testimonial_section .swiper-slide .review_box {
  border-radius: 10.808px;
  background: var(--White, #fefefe);
  box-shadow: 0 4px 20px 0 rgba(64, 101, 211, 0.05);
  padding: 14px 24px 24px;
  height: 315px;
  display: grid;
  align-content: space-between;
}
.testimonial_section .swiper-slide .review_box p {
  color: var(--Darker-accessible-blue, #4065d3);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin: 24px 0px;
}
.testimonial_section .swiper-slide .review_box h4 {
  color: var(--Darker-accessible-blue, #4065d3);
  font-size: 16.012px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
}
.testimonial_section .reviews_logo {
  width: 596px;
  margin: 36px auto 0;
  display: flex;
  align-items: center;
  gap: 17px;
}
/* Testimonial style end  */

/* CTA style start  */
.cta_section {
  padding: 60px 15px 0px;
}
.cta_section .cta_content h2 {
  color: var(--Darker-accessible-blue, #4065d3);
  font-weight: 600;
  line-height: 1.3;
}
.cta_section .cta_content p {
  color: var(--Black-100, #141414);
  font-weight: 500;
  line-height: 1.2;
  margin: 34px 0px;
}
.cta_section .cta_button {
  display: flex;
  align-items: center;
  gap: 24px;
}
.cta_section .bird_img img {
  width: 241px;
  max-width: 100%;
}
.cta_section .cta_content {
    padding-bottom: 44px;
}
.cta_section .learn_more {
  border-radius: 8px;
  border: 2px solid var(--Darker-accessible-blue, #4065d3);
  color: var(--Darker-accessible-blue, #4065d3);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  box-shadow: none !important;
  padding: 16px 17px;
}
.cta_section .explore_plans {
  border-radius: 8px;
  background: var(--Darker-accesible-blue, #4065d3);
  color: var(--White, #fefefe);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  padding: 15px 15px;
  box-shadow: none !important;
  border: 2px solid var(--Darker-accessible-blue, #4065d3);
}
/* cta style end  */

/* Footer  Style Start  */
footer {
  border-radius: 30px 30px 0 0;
  background: #3158cc;
  box-shadow: 0px -10px 60px 20px rgba(0, 0, 0, 0.04);
  padding: 50px 15px 50px;
}

footer .social_link ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  margin-top: 24px;
}

footer .social_link ul li {
  list-style: none;
}

footer .our_coverage h5 {
  color: var(--White, #fefefe);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 23px;
}
footer .our_coverage ul li a {
  color: var(--White, #fefefe);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none !important;
}
footer .footer_border {
  content: "";
  height: 183px;
  border: solid 1px rgb(217 219 233 / 30%);
}
footer .our_coverage ul {
  list-style: none !important;
}
footer .our_coverage ul li {
  margin-bottom: 8px;
}
footer .footer_contact h5 {
  margin-bottom: 18px;
  color: var(--White, #fefefe);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

footer .contact_box {
  margin-bottom: 20px;
}

footer .contact_box a {
  color: var(--White, #fefefe);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

footer .contact_box a > img {
  padding-right: 6px;
}

footer .footer_discription {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer_menu {
  border: solid 1px rgb(217 219 233 / 30%);
  border-top: 0;
  border-bottom: 0;
  height: 137px;
  padding: 0px 40px;
}

footer .copyright p {
  color: #d9dbe1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  margin-top: 40px;
}

/* Footer  Style End  */

@media (max-width: 1200px) {
    .col-pd{
    padding: 0;
  }
  .home_banner .plans_box {
    margin-bottom: 26px;
  }

  .discover_benefits {
    padding: 80px 0;
  }
  .discover_benefits .benefits_img img {
    height: 700px;
    object-fit: cover;
    object-position: center center;
    border-radius: 0;
  }
  .discover_benefits_content_wrapper {
    padding: 50px 10px 0px;
  }
  .how_its_work .work_col_height {
    height: 295px;
}
}

@media (max-width: 992px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .mob_icon {
    display: inline !important;
  }
  .des_icon {
    display: none !important;
  }
  .background
 {
    display: none;
}
  

  .home_banner .bg_img {
    height: 450px;
  }
  .home_banner {
    padding: 100px 15px 40px;
  }
  .home_banner .banner_content h3 {
    margin-bottom: 28%;
  }

  .discover_benefits {
    padding: 0px 0px 80px;
  }

      .how_its_work .work_col_height {
        height: auto;
    }
    .how_its_work {
    background-image: none;
    margin-top: 0;
}
.how_its_work .work_box {
    margin-bottom: 40px;
}
.cta_section .row_reverse {
    flex-direction: column-reverse;
}
.cta_section .bird_img {
    text-align: center;
}
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
  header {
    padding: 16px 7px;
  }
  header .header_right {
    display: none !important;
  }
  .home_banner .banner_content {
    width: 100%;
  }
  .home_banner .bg_img {
    height: 342px;
  }
  .home_banner {
    padding: 106px 6px 40px;
  }
  .home_banner .banner_content h1 {
    margin-bottom: 38px;
  }
  .home_banner .banner_content h3 {
    font-size: 18px;
    max-width: 506px;
    margin: auto;
    margin-bottom: 22%;
  }
  .home_banner .plans_box h3 {
    font-size: 20px;
    margin: 8px 0px;
  }
  .home_banner .plans_box .explore_plans {
    font-size: 16px;
  }
  .home_banner .plans_box p {
    margin-bottom: 16px;
}

  .discover_benefits .benefits_img img {
    height: 286px;
  }
  .discover_benefits_content_wrapper {
    padding: 40px 8px 0px;
  }
  .discover_benefits a.explore_plans.btn {
    width: 100%;
}
.discover_benefits .list_content h4 {
    font-size: 16px;
}
.discover_benefits .list_content p {
    font-size: 14px;
    margin: 0;
}
    .discover_benefits {
        padding: 0px 0px 40px;
    }

    .how_its_work {
    padding: 40px 6px;
}
.how_its_work .how_its_work_content p {
    font-size: 18px;
    margin-bottom: 36px;
}
.how_its_work .work_box h3 {
    font-size: 20px;
    margin: 12px 0px 18px;
}
.how_its_work .work_box.text-center {
    padding: 12px 24px 20px;
    margin-bottom: 24px;
}

  .testimonial_section .reviews_logo {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px !important;
    width: 100%;
}
  .testimonial_section .reviews_logo .logo {
    text-align: center;
}
  .testimonial_section .swiper-slide .review_box p{
    font-size: 14px;
    margin: 21px 0px;
  }
  .testimonial_section {
    padding: 40px 0px;
}
.testimonial_section .testimonial_section_content p {
    font-size: 16px;
}

.testimonial_section .swiper-slide .review_box {
    padding: 12px 21px 21px;
}
.cta_section .cta_button{
    display: none;
}
.cta_section .cta_content p {
    margin: 32px 0px 40px;
    text-align: center;
}
.cta_section {
    padding: 43px 6px 0px;
}
.cta_section .cta_content h2 {
    text-align: center;
}
.cta_section .cta_content {
    padding-bottom: 0;
}
.cta_section .bird_img img {
    width: 126.953px;
}
}
@media (max-width: 420px) {
  .testimonial_section .logo img {
    height: 55.244px;
}

}

