@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Light.eot');
    src: url('Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Light.woff2') format('woff2'),
        url('Graphik-Light.woff') format('woff'),
        url('Graphik-Light.ttf') format('truetype'),
        url('Graphik-Light.svg#Graphik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular.eot');
    src: url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype'),
        url('Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium.eot');
    src: url('Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium.woff2') format('woff2'),
        url('Graphik-Medium.woff') format('woff'),
        url('Graphik-Medium.ttf') format('truetype'),
        url('Graphik-Medium.svg#Graphik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold.eot');
    src: url('Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold.woff2') format('woff2'),
        url('Graphik-Bold.woff') format('woff'),
        url('Graphik-Bold.ttf') format('truetype'),
        url('Graphik-Bold.svg#Graphik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Black.eot');
    src: url('Graphik-Black.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Black.woff2') format('woff2'),
        url('Graphik-Black.woff') format('woff'),
        url('Graphik-Black.ttf') format('truetype'),
        url('Graphik-Black.svg#Graphik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

